{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
{% endblock %}

{% block main_content %}
    {% if recipes_data %}
        <table class="table">
            <colgroup>
                <col style="width: 60%">
                <col style="width: 25%">
                <col style="width: 15%">
            </colgroup>
            <thead>
                <tr class="table__header">
                    <th class="table__cell table__cell--header">Title</th>
                    <th class="table__cell table__cell--header">Ingredients</th>
                    <th class="table__cell table__cell--header"></th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes_data %}
                    <tr>
                        <td class="table__cell">
                            <p class="table__movieTitle">{{ recipe.title }}</p>
                            <p class="table__movieDirector">{{ recipe.ingredients }}</p>
                        </td>
                        <td class="table__cell"><a href="{{ url_for('pages.recipe', _id=recipe._id) }}" class="table__link">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class="table__empty">You haven't added any recipes yet. <a href="{{ url_for('pages.add_recipe') }}" class="link">Add one!</a></p>
    {% endif %}

    <a href="{{ url_for('pages.add_recipe') }}" class="button button--add">
        <span>+</span>
    </a>

{% endblock %}